.places__paragraph {
  font-size: 12px;
  line-height: 1.7;
  list-style-type: none;
  padding: 20px 0 0 0;
  margin: 0;
  letter-spacing: 0.6px;
}

@media screen and (max-width: 984px) {
  .places__paragraph {
    line-height: 1.4;
    padding: 16px 0 0 0;
  }
}
