.intro {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 640px));
  grid-template-rows: auto;
  margin: 0 0 132px 0;
}

@media screen and (max-width: 984px) {
  .intro {
    grid-template-columns: repeat(2, minmax(320px, 492px));
  }
}

@media screen and (max-width: 728px) {
  .intro {
    display:flex;
    margin: 0 0 5% 0;
  }
}
