@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__claim/header__claim.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/intro__description.css);
@import url(../blocks/intro/__image/intro__image.css);
@import url(../blocks/intro/__subtitle/intro__subtitle.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__place/places__place.css);
@import url(../blocks/places/__description/places__description.css);
@import url(../blocks/places/__picture/places__picture.css);
@import url(../blocks/places/__text/places__text.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/quotes/quotes.css);
@import url(../blocks/quotes/__author/quotes__author.css);
@import url(../blocks/quotes/__item/quotes__item.css);
@import url(../blocks/quotes/__quote/quotes__quote.css);
@import url(../blocks/quotes/__subtitle/quotes__subtitle.css);
@import url(../blocks/quotes/__title/quotes__title.css);
@import url(../blocks/quotes/__list/quotes__list.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
