.footer {
  padding: 300px 68px 300px 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(26deg 98% 83%);
  max-width: 100%;
}

@media screen and (max-width: 1128px) {
  .footer {
    padding: 220px 24px 220px 24px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    padding: 160px 24px 160px 24px;
  }
}

@media screen and (max-width: 728px) {
  .footer {
    padding: 100px 16px 100px 16px;
  }
}
